name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate snake svg (dark fixed)
        uses: Platane/snk@v3
        with:
          github_user_name: ingridycandido
          outputs: |
            dist/github-contribution-grid-snake.svg
          background: "#1a1b26"
          color_snake: "#7aa2f7"
          color_empty: "#1a1b26"
          color_dots: "#24283b,#414868,#565f89,#9aa5ce"

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
