name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake gif
        uses: Platane/snk@v3
        with:
          github_user_name: ingridycandido
          outputs: |
            dist/github-contribution-grid-snake.gif
          theme: dark
          color_snake: "#7aa2f7"
          color_dots: "#1f2335,#292e42,#3b4261,#545c7e,#737aa2"

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
